
nav.col-md-2.d-none.d-md-block.bg-light.sidebar
    .sidebar-sticky
        ul.nav.flex-column
            li.nav-item
                a.nav-link.active(href='#')
                    span(data-feather='home')
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href='/users')
                    span(data-feather='file')
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='shopping-cart')
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='users')
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='bar-chart-2')
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='layers')
        h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted
            span Saved reports
            a.d-flex.align-items-center.text-muted(href='#')
                span(data-feather='plus-circle')
        ul.nav.flex-column.mb-2
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='file-text')
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='file-text')
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='file-text')
            li.nav-item
                a.nav-link(href='#')
                    span(data-feather='file-text')